<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valetparking">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- APP -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ValetParking"
        android:windowSoftInputMode="stateHidden">

        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings -->
        <activity
            android:name=".Administrator.SettingsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Logins activities -->
        <activity android:name=".login.ChangePasswordActivity" />
        <activity android:name=".login.ForgotPasswordActivity" />
        <activity android:name=".login.LocationActivity" />
        <activity android:name=".login.AboutThePlaceActivity" />
        <activity android:name=".login.CreateAccountActivity" />

        <!-- Operator activities -->
        <activity android:name=".TabLayoutOperator" />
        <activity android:name=".Operator.CloseTicket" />
        <activity android:name=".Operator.ProfileOperatorActivity" />

        <!-- Administrator activities -->
        <activity android:name=".TabLayoutAdministrator" />
        <activity android:name=".TabLayoutAdministratorProfile" />
        <activity android:name=".Administrator.OperatorsActivity" />

        <!-- Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkue_EIGSxhlZ-5QKlYtQhTp9uhqIt_Ns" />
    </application>

</manifest>